body{
  font-familu: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9
  text-align: center;

}
nav  {
  display: inline-block;
  text-decoration: none;
  justify-content: space-between;


}
a{
  text-decoration: none;
  color: seashell;
}
header{
  position: fixed;
}

.logo{
  height: 50px;
  padding-left: 10px;
}
.content{

  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  align-content: center;
  padding-top:69px;
  background-size: cover;
  max-width: 1200px;
  position: relative;


}
.Mission {
  text-align: center;
  background-color: black;
  max-width: 1200px;
  margin-top: 300px;
}
.Monthly{
  width: 1000px;
}
.First{
  width: 300px;
  height: 200px;
}
